<br><br><br><br>
<div class="container">
  <h1>Stupid Coaching</h1>
  <p><%= @question %></p>
  <p>- You</p>
  <br>
  <p><%= @answer %></p>
  <p>- Your coach</p>
  <%= link_to "Ask an new question", root_path %>
</div>
